.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.989000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.011000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.388000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.009000;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.247500,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._7{margin-left:-3.835768px;}
._3{margin-left:-1.532708px;}
._c{width:7.970080px;}
._1{width:9.962600px;}
._4{width:11.096868px;}
._f{width:12.672427px;}
._0{width:20.662500px;}
._2{width:29.490617px;}
._10{width:298.019684px;}
._d{width:1073.279495px;}
._9{width:1083.691778px;}
._b{width:1109.913341px;}
._e{width:1231.334445px;}
._6{width:1260.109498px;}
._11{width:1356.095390px;}
._5{width:1376.715228px;}
._a{width:1420.114766px;}
._8{width:1526.154228px;}
.fc0{color:rgb(0,0,0);}
.fs1{font-size:39.850400px;}
.fs2{font-size:47.820800px;}
.fs0{font-size:82.650000px;}
.y26{bottom:105.197000px;}
.y25{bottom:118.880000px;}
.y0{bottom:131.500000px;}
.y24{bottom:144.648000px;}
.y23{bottom:158.098000px;}
.y22{bottom:171.781000px;}
.y21{bottom:198.105000px;}
.y20{bottom:210.060000px;}
.y1f{bottom:228.491000px;}
.y1e{bottom:240.446000px;}
.y1d{bottom:252.402000px;}
.y1c{bottom:266.085000px;}
.y1b{bottom:292.469000px;}
.y1a{bottom:306.416000px;}
.y19{bottom:320.364000px;}
.y18{bottom:334.312000px;}
.y17{bottom:356.229000px;}
.y16{bottom:368.185000px;}
.y15{bottom:390.102000px;}
.y14{bottom:404.050000px;}
.y13{bottom:417.998000px;}
.y12{bottom:431.946000px;}
.y11{bottom:453.863000px;}
.y10{bottom:465.819000px;}
.yf{bottom:487.736000px;}
.ye{bottom:501.684000px;}
.yd{bottom:515.632000px;}
.yc{bottom:529.579000px;}
.yb{bottom:551.497000px;}
.ya{bottom:563.452000px;}
.y9{bottom:585.370000px;}
.y8{bottom:599.318000px;}
.y7{bottom:613.266000px;}
.y6{bottom:627.213000px;}
.y5{bottom:649.131000px;}
.y4{bottom:661.086000px;}
.y3{bottom:679.751000px;}
.y2{bottom:706.135000px;}
.y1{bottom:723.071000px;}
.h7{height:17.693578px;}
.h5{height:28.811839px;}
.h3{height:29.011091px;}
.h6{height:29.210343px;}
.h4{height:34.574438px;}
.h2{height:59.755950px;}
.h1{height:562.000000px;}
.h0{height:792.000000px;}
.w1{width:504.000000px;}
.w0{width:612.000000px;}
.x0{left:54.000000px;}
.x3{left:78.907000px;}
.x4{left:90.862000px;}
.x5{left:100.824000px;}
.x2{left:148.625000px;}
.x1{left:231.677000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._7{margin-left:-5.114357pt;}
._3{margin-left:-2.043611pt;}
._c{width:10.626773pt;}
._1{width:13.283467pt;}
._4{width:14.795824pt;}
._f{width:16.896570pt;}
._0{width:27.550000pt;}
._2{width:39.320822pt;}
._10{width:397.359579pt;}
._d{width:1431.039327pt;}
._9{width:1444.922370pt;}
._b{width:1479.884454pt;}
._e{width:1641.779260pt;}
._6{width:1680.145998pt;}
._11{width:1808.127186pt;}
._5{width:1835.620304pt;}
._a{width:1893.486355pt;}
._8{width:2034.872304pt;}
.fs1{font-size:53.133867pt;}
.fs2{font-size:63.761067pt;}
.fs0{font-size:110.200000pt;}
.y26{bottom:140.262667pt;}
.y25{bottom:158.506667pt;}
.y0{bottom:175.333333pt;}
.y24{bottom:192.864000pt;}
.y23{bottom:210.797333pt;}
.y22{bottom:229.041333pt;}
.y21{bottom:264.140000pt;}
.y20{bottom:280.080000pt;}
.y1f{bottom:304.654667pt;}
.y1e{bottom:320.594667pt;}
.y1d{bottom:336.536000pt;}
.y1c{bottom:354.780000pt;}
.y1b{bottom:389.958667pt;}
.y1a{bottom:408.554667pt;}
.y19{bottom:427.152000pt;}
.y18{bottom:445.749333pt;}
.y17{bottom:474.972000pt;}
.y16{bottom:490.913333pt;}
.y15{bottom:520.136000pt;}
.y14{bottom:538.733333pt;}
.y13{bottom:557.330667pt;}
.y12{bottom:575.928000pt;}
.y11{bottom:605.150667pt;}
.y10{bottom:621.092000pt;}
.yf{bottom:650.314667pt;}
.ye{bottom:668.912000pt;}
.yd{bottom:687.509333pt;}
.yc{bottom:706.105333pt;}
.yb{bottom:735.329333pt;}
.ya{bottom:751.269333pt;}
.y9{bottom:780.493333pt;}
.y8{bottom:799.090667pt;}
.y7{bottom:817.688000pt;}
.y6{bottom:836.284000pt;}
.y5{bottom:865.508000pt;}
.y4{bottom:881.448000pt;}
.y3{bottom:906.334667pt;}
.y2{bottom:941.513333pt;}
.y1{bottom:964.094667pt;}
.h7{height:23.591437pt;}
.h5{height:38.415786pt;}
.h3{height:38.681455pt;}
.h6{height:38.947124pt;}
.h4{height:46.099251pt;}
.h2{height:79.674600pt;}
.h1{height:749.333333pt;}
.h0{height:1056.000000pt;}
.w1{width:672.000000pt;}
.w0{width:816.000000pt;}
.x0{left:72.000000pt;}
.x3{left:105.209333pt;}
.x4{left:121.149333pt;}
.x5{left:134.432000pt;}
.x2{left:198.166667pt;}
.x1{left:308.902667pt;}
}
